
.changelog h1 {
  margin-top: 0px;
  font-size: 48px !important;
  line-height: 1;
}
.changelog h2 {
  font-size: 36px !important;
  line-height: 1;
}
.changelog h3 {
  font-size: 24px !important;
  line-height: 1;
  margin-bottom: 0px;
}
.changelog ul {
  padding-left: 16px;
}
.changelog {
  font-size: 16px;
}
